<% @meals.each do |meal| %>
  <p><%= meal.name %></p>
  <p>stock : <%= meal.stock %></p>
  <p><%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %></p>
  <p><%= link_to "edit", edit_cooker_meal_path(meal) %></p>
  <p><%= link_to "delete", cooker_meal_path(meal), method: :delete, remote: true %></p>
  <h2>ingredients :</h2>
  <% meal.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %>, <%= link_to "edit", edit_ingredient_path(ingredient) %></p>
  <% end %>
<% end %>

<%= link_to "new", new_cooker_meal_path %>
