<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_for(@search) do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address, id: 'cooker_search' %>
  <%= f.label :distance %>
  <%= f.number_field :distance %>
  <%= f.submit :submit %>
<% end %>

<p>connect as user</p>
<p>connect as cooker</p>


