<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_for(@search) do |f| %>
  <%= f.label :address %>
  <%= f.text_field :address, id: 'cooker_search' %>
  <%= f.label :distance %>
  <%= f.number_field :distance %>
  <%= f.submit :submit %>
<% end %>

<%= link_to "connect as user", new_user_session_path %>
<%= link_to "connect as cooker", new_cooker_session_path %>

<% if current_cooker %>
  <p><%= link_to "Meals", cooker_meals_path %></p>
  <p><%= link_to "Profile", cooker_path(current_cooker) %></p>
<% end %>

<% if current_user %>
  <p>yeah user</p>
<% end %>
