<div class="container">

  <h1>Edit your profile :</h1>

  <%= simple_form_for @cooker do |f| %>
    <%= f.input :address %>
    <%= f.input :username %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>

</div>
