<%= @cooker.username %>

<%= cl_image_tag @cooker.photo.key, height: 200, width: 200, crop: :fill, class: 'rounded-circle' %>

<% if user_signed_in? %>

  <%= simple_form_for([ @cooker, @order ]) do |f| %>
  <% [@starters, @main_courses, @desserts].each do |meals| %>
    <%= render partial: "items", locals: {meals: meals, f: f} %>
  <% end %>
  <%= f.button :submit, class: 'btn-primary' %>
  <% end %>

<% end %>

<% if cooker_signed_in? %>

  <p><%= current_cooker.address %></p>
  <p><%= current_cooker.username %></p>
  <p><%= current_cooker.first_name %></p>
  <p><%= current_cooker.last_name %></p>

  <% if @cooker == current_cooker %>
    <%= link_to "edit", edit_cooker_path(current_cooker) %>
  <% end %>

<% end %>
